<div>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1535016120720-40c646be5580?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);">
  <div class="container">
    <h1>You can save <strong>all your movies</strong> here</strong>!</h1>
    <p>Enjoy your life and let movies fascinate you</p>
  </div>
</div>

<div class="container">
  <%= link_to "Create a movie list", new_list_path, class: "btn btn-gradient" %>
  <div class="list-card-container d-flex flex-wrap justify-content-between">
    <% @lists.each do |list| %>
    <%= link_to list_path(list) do %>
      <div class="list-card m-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://10play.com.au/ip/s3/2019/08/09/e4b365d10829878d80a0a1871ffeee0b-551003.jpg?image-profile=image_poster&io=portrait&dpr=2)">
        <%= list.name %>
      </div>
      <%end %>
  <% end %>
  </div>
</div>
</div>
